body {
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

.search-box {
  display: flex;
  width: max-content;
  margin: 40px auto 10px auto;
  column-gap: 10px;
  overflow-y: visible;
}

.search-box input[type='text'] {
  height: 30px;
  width: 300px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(189, 189, 189);
  font-size: 30px;
  color: white;
  padding: 0 0 5px 5px;
}

.search-box input[type='text']:focus {
  outline: none;
}

.search-box i {
  font-size: 25px;
  cursor: pointer;
}

.error {
  color: red;
  text-align: center;
  padding-top: 10px;
}

.hidden {
  opacity: 0;
}

.details {
  margin: 0 auto;
  padding: 10px;
  width: max-content;
  display: grid;
  row-gap: 20px;
  text-align: center;
  border-radius: 20px;
}

.title {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.weather {
  display: flex;
}

#weather {
  font-size: 40px;
  font-weight: bold;
}

#name {
  font-size:25px;
  font-weight: bold;
}

#temp {
  font-weight: bold;
  text-align: center;
}

.local-times {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

button {
  display: block;
  border: none;
  padding: 10px;
  color: white;
  background-color: transparent;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  margin:0 auto;
}
